﻿@model EnchtopV1.Models.Basket

@{
    ViewBag.Title = "Panier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contenu du panier</h2>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">Le panier est vide</div>
}
<table class="table">
    <tr>
        <th>
            Produit
        </th>
        <th>
            Quantité
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Product.Name
            </td>
            <td>
                @item.Quantity
            </td>
        </tr>
    }

</table>
